<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WatchGoals: Team</title>
  </head>
  <body>
    <div class="content-wrapper">
      <img class="team-page" src="<%= @team.logo %>" alt="team crest">

    </div><!-- content-wrapper -->
  </body>
</html>
