<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to WatchGoals</title>
  </head>
  <body>
    <div class="content-wrapper">
      <h1>Welcome to Goal Posts!</h1>
      <p>This site is still being set up. </p>
      <p>For now, just check out the <a href="/highlights">highlights</a>.</p>
    </div><!-- content-wrapper -->
  </body>
</html>
