<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to GoalPosts</title>
  </head>
  <body>
    <div class="container">

    <!-- content rendered by React! -->

    </div><!-- container -->
  </body>
</html>
