<h1>All Highlights</h1>
<%= paginate @highlights %>
<% @highlights.to_h.each do |date, highlights| %>
<h2><%= date %></h2>
<% highlights.each do |highlight| %>
<%= render partial: "highlight_brief", locals: {highlight: highlight} %>
<% end %>
<% end %>
<%= paginate @highlights %>
