<img src="../../public/images/soccer-silhouette-image.png" alt = "logo">
<h1>WatchGoals</h1>
<a href="/">Home</a>
<a href="/highlights">Highlights</a>
<a href="/teams">Teams</a>
<!-- <a href="/players">Players</a> -->
